<div class="flex flex2 align-items-center">
    <div class="flex align-items-center justify-content-center user-box ml-2 px-2 pb-1 pt-2 border-round-lg">
        <p-image src="imgs/default_avatar.jpg" width="35" imageClass="border-circle" class="p-0 m-0"/>
        <h3 class="ml-2 mr-3 text-lg m-0 p-0 line-height-1 mb-1 hidden lg:block">Tadeusz</h3>
    </div>
</div>

<div class="flex w-full justify-content-center align-items-center main-content">
    @for (item of navBarItems(); track $index) {
        @if (item.role == undefined || (item.role != undefined && userRole == item.role)) {
            <div [class]="(item.isSelected() ? 'selected ' : '') + 'flex tile px-2 sm:px-3 border-top-1 lg:border-bottom-1 lg:border-top-none'" (click)="navigateTo(item.route)">
                <div class="flex align-items-center justify-content-center"><i [class]="item.icon +  ' text-2xl lg:text-lg p-0 px-1 my-3 lg:m-0 lg:pb-1 lg:pr-2'"></i><p class="text-lg hidden lg:block">{{ item.text }}</p></div>
            </div>
        }
    }
</div>

<div class="flex flex2 justify-content-end mr-3">
    <div class="flex align-items-center justify-content-center log-out" (click)="signOut()"><i class="pi pi-sign-out text-lg lg:pr-2"></i><p class="hidden lg:block text-lg">Log out</p></div>
</div>