@import "../../../../responsive.scss";

:host {
    display: flex;
    background: var(--p-surface-900);

    p, i {
        color: var(--p-primary-color);
    }

    .secondary-color {
        color: var(--p-primary-700);
    }

    .user-box {
        transition: .2s background-color;
        border-radius: 10px;
        
        img {
            height: 20px !important;
        }

        &:hover {
            background: var(--p-surface-800);
            cursor: pointer;
        }
    }

    i {
        padding: 0;
        margin: 1rem 0;

        @include respond("lg") {
            margin: 0;
            padding-bottom: 0.25rem;
            padding-right: 0.5rem;
        }
    }

    .flex2 {
        flex: 2;
    }

    .main-content {
        flex: 5;
    }

    .log-out {
        p, i {
            transition: .2s color;
            color: var(--p-surface-300);
        }

        p {
            font-size: 1rem;

            @include respond("lg") {
                font-size: 1.1rem;
            }
        }

        i {
            font-size: 1rem;

            @include respond("lg") {
                font-size: 1.2rem;
            }
        }

        &:hover {
            p, i {
                color: var(--p-surface-50);
            }

            cursor: pointer;
        }
    }

    .tile {
        transition: .2s background-color;
        border-color: var(--p-primary-900);

        &:hover {
            background: var(--p-surface-800);
            cursor: pointer;
        }
    }

    .selected {
        background: var(--p-surface-800) !important;
        border-color: var(--p-primary-color) !important;
    }
}