<div class="flex empty"></div>

<div class="flex w-full justify-content-center align-items-center main-content">
    @for (item of navBarItems(); track $index) {
        @if (item.role == undefined || (item.role != undefined && userRole == item.role)) {
            <div [class]="(item.isSelected() ? 'selected ' : '') + 'flex tile px-3 border-bottom-1'" (click)="navigateTo(item.route)">
                <div class="flex align-items-center justify-content-center"><i [class]="item.icon +  ' text-lg'"></i><p class="text-lg md-only">{{ item.text }}</p></div>
            </div>
        }
    }
</div>

<div class="flex empty justify-content-end mr-3">
    <div class="flex align-items-center justify-content-center log-out" (click)="signOut()"><i class="pi pi-sign-out text-lg"></i><p class="text-lg md-only">Log out</p></div>
</div>