<p-list-box class="w-full" [options]="getExercises()" [highlightOnSelect]="false" scrollHeight="145px" [focusOnHover]="false">
    <ng-template #item let-exercise>
        <div class="w-full flex align-items-center gap-2 justify-content-between">
            <h1 class="m-0 p-0 line-height-0 text-lg font-light">{{ exercise.label }}</h1>
            <div class="flex gap-2">
                <i class="pi pi-chevron-up"></i>
                <i class="pi pi-chevron-down"></i>
                <i class="pi pi-trash"></i>
            </div>
        </div>
    </ng-template>
</p-list-box>