@if (workoutPlans().length > 0) {
    <div class="flex p-4 w-full h-full flex-column lg:flex-row gap-4 overflow-auto lg:flex-wrap align-content-start">
        @for (plan of workoutPlans(); track $index) {
            <div class="flex flex-column p-4 lg:p-6 align-items-center justify-content-center h-min w-full lg:w-auto tile border-round-xl">
                <h1 class="m-0 p-0 text-4xl mb-2">{{ plan.name }}</h1>
                <h2 class="m-0 p-0 text-lg">Created: {{ plan.createdAt | date: 'dd.MM.yyyy' }}</h2>
            </div>
        }
    </div>
} @else {
    <h1 class="m-4">
        You don't have any workouts plans. 
    </h1>
    <h2 class="m-4">
        Ask your coach about that
    </h2>
}