@if (invitedUserData() != undefined) {
    <div class="flex justify-content-center w-full h-full overflow-auto">
        <div class="flex p-4 align-items-center flex-column gap-4 lg:w-6 w-full">
            <div class="flex align-items-center justify-content-center">
                <p-image [src]="invitedUserData()!.profileImageUrl!" width="120" imageClass="border-circle" />
                <h1 class="text-4xl m-0 p-0 pb-1 pl-3">{{ invitedUserData()!.name + ' ' + invitedUserData()!.surname }}</h1>
            </div>

            <p-divider class="m-0 p-0 w-full lg:my-1" />

            <div class="flex">
                <app-button icon="pi pi-times" [outlined]="true" [size]="responsiveService.lg() ? 'large' : undefined"  color="secondary" class="m-2" label="Reject" (click)="rejectStudent()" />
                <app-button icon="pi pi-check" [outlined]="true" [size]="responsiveService.lg() ? 'large' : undefined"  class="m-2" label="Accept" (click)="acceptStudent()" />
            </div>

            <p-divider class="m-0 p-0 w-full " />

            <h3 class="m-0 p-0 text-3xl">Information</h3>

            <div class="flex w-full flex-column gap-5 pb-5">
                @for (key of questionKeys; track $index) {
                    <div class="flex flex-column w-full gap-1 w-full">
                        <h2 class="m-0 p-0 text-xl">{{ questions[key] }}</h2>
                        <h1 class="m-0 p-0 text-2xl">{{ userInfo()![key] == '' ? 'No answer' : userInfo()?.goals }}</h1>
                    </div>
                }
            </div>
        </div>
    </div>
} @else {
    <div class="p-4 flex align-items-center justify-content-center w-full flex-column gap-3 text-center">
        <h1 class="m-0 p-0 lg:my-3">Enter your student's code</h1>
        <app-input class="w-full lg:w-3" label="Student's code" [formControl]="code" />
        <app-button label="Invite" [outlined]="true" [size]="responsiveService.lg() ? 'large' : undefined" (click)="findStudent()" [disabled]="code.invalid" />
    </div>
}