<div class="flex flex-column p-2 gap-4" [formGroup]="formGroup">
    <div class="flex">
        <p-select-button [options]="exerciseTypes" optionLabel="label" optionValue="value" formControlName="exerciseType" />
    </div>

    @if (formGroup.value.exerciseType == 1) {
        <div class="flex">
            <app-input label="Exercise" formControlName="exercise" />
        </div>
    } @else {
        <div class="flex align-items-center gap-2">
            <app-input label="Exercise" formControlName="exercise" />
            <app-button [outlined]="true" color="secondary" label="Add" icon="pi pi-plus" [disabled]="formGroup.controls.exercise.invalid" (click)="addComboItem()" />
        </div>

        @if (combo().length > 0) {
            <div class="flex">
                <app-combo-display
                    [exercises]="combo()"
                    (itemDeleted)="removeComboItem($event)"
                    (itemMovedUp)="moveComboItemUp($event)"
                    (itemMovedDown)="moveComboItemDown($event)" 
                />
            </div>
        }
    }

    <p-divider class="m-0 p-0" />

    <div class="flex gap-2">
        <app-input label="Sets" formControlName="sets" />
        <app-input label="Reps" formControlName="reps" />
    </div>

    <div class="flex gap-2">
        <p-select-button [options]="intensityTypes" optionLabel="label" optionValue="value" formControlName="intensityType" />
        <p-select [options]="formGroup.value.intensityType == 1 ? rirIntensity : rpeIntensity" scrollHeight="120px" class="w-full" placeholder="Intensity" formControlName="intensity" />
    </div>

    <div class="flex gap-2">
        <app-input label="Rest" formControlName="rest" />
    </div>

    <div class="flex gap-2">
        <textarea pTextarea class="w-full" placeholder="Additional info" rows="4" formControlName="info" ></textarea>
    </div>


    <div class="flex justify-content-between align-items-center w-full">
        @if (this.exerciseId != null) {
            <div>
                <app-button label="Delete exercise" color="secondary" [outlined]="true" (click)="deleteExercise()" />
            </div>
        }  

        <div [class]="'flex gap-2 ' + (this.exerciseId != null ? ' ' : ' justify-content-end w-full')">
            <app-button label="Cancel" [outlined]="true" color="secondary" (click)="closeDialog()" />
            <app-button [label]="this.saveButtonLabel || 'Save'" [outlined]="true" [disabled]="formGroup.invalid" (click)="saveExercise()" />
        </div>
    </div>
</div>