@import "../../../../responsive.scss";

:host {
    .empty {
        flex: 1;
    }

    .main-content {
        flex: 5;
    }

    .header {
        background: var(--p-surface-900);

        p, i {
            color: var(--p-primary-color);
        }

        i {
            padding: 0;
            margin: 1rem;

            @include respond("md") {
                margin: 0;
            }
        }
    }

    .log-out {
        &:hover {
            p, i {
                color: var(--p-primary-100);
            }

            cursor: pointer;
        }
    }

    .tile {
        transition: .2s background-color;

        &:hover {
            background: var(--p-surface-800);
            cursor: pointer;
        }
    }
}