@if (trainingPlan() != undefined) {
    <div class="flex w-full justify-content-center">
        <div class="flex p-4 w-full lg:w-6 align-items-center flex-column gap-4">
            <h1 class="m-0 p-0 text-center">Choose your today's training</h1>

            @for (unit of trainingPlan()!.trainingUnits ; track $index) {
                <div class="flex w-full flex-column gap-1">
                    <app-button label="Choose" icon="pi pi-play" color="secondary" styleClass="w-full" size="large" />
                    <app-training-unit-display [trainingUnit]="unit" class="w-full" />
                </div>
            }
        </div>
    </div>
}
    