@if (studentData() != undefined) {
    <div class="flex flex-column w-full lg:w-6 lg:p-6 p-4">
        <div class="flex align-items-center">
            <p-image [src]="studentData()!.studentData.profileImageUrl!" width="120" imageClass="border-circle" class="mr-4 lg:mr-5" />

            <h1 class="text-4xl m-0 p-0">{{ studentData()!.studentData.name! + ' ' + studentData()!.studentData.surname!}}</h1>
        </div>

        <p-divider class="m-0 my-4 lg:my-6 w-full"/>

        <div class="flex flex-column lg:flex-row">
            <div class="flex flex-column mb-4 lg:mb-0 flex-1">
                <h3 class="text-xl lg:text-3xl m-0 p-0">Email</h3>
                <h2 class="text-lg lg:text-2xl m-0 p-0 mt-2">{{ studentData()!.studentData.email }}</h2>
            </div>

            <div class="flex flex-column flex-1">
                <h3 class="text-xl lg:text-3xl m-0 p-0">Phone number</h3>
                <h2 class="text-lg lg:text-2xl m-0 p-0 mt-2">{{ studentData()!.studentData.phoneNumber == null ? 'Not given' : studentData()!.studentData.phoneNumber }}</h2>
            </div>
        </div>

        <p-divider class="m-0 my-4 lg:my-6 w-full"/>

        <div class="flex justify-content-end">
            <app-button
                label="Send message"
                icon="pi pi-envelope"
                [outlined]="true"
                color="secondary"
                (click)="sendMessageToStudent()"
            />
        </div>

        <p-divider class="m-0 my-4 lg:my-6 w-full"/>

        <div class="flex flex-column gap-4 pb-4">
            <h1 class="text-2xl lg:text-4xl m-0 p-0">Training plans:</h1>

            <div class="flex flex-column lg:flex-row gap-4">
                @for (plan of studentData()!.trainingPlans; track $index) {
                    <div [class]="'flex align-items-center justify-content-center p-5 flex-column workout-tile border-round-lg flex-1 relative ' + (plan.active ? ' selected ' : ' ')" (click)="navigateTo('workout-planner/' + plan.id)">
                        <h2 class="m-0 p-0 text-3xl text-center pb-2">{{ plan.name }}</h2>
                        <h3 class="m-0 p-0 text-xl text-center">Last modified: {{ plan.lastModified | date: "dd.MM.yyyy HH:mm" }}</h3>
                        <i class="pi pi-trash trash-icon text-xl absolute" (click)="deleteWorkoutPlan($event, $index)"></i>

                        <i [class]="'pi activate-icon text-xl absolute ' + (plan.active ? 'pi-times' : 'pi-check')" (click)="changeTrainingPlanActiveState($index, $event)"></i>
                    </div>
                }
            </div>

            <div class="flex justify-content-end w-full">
                <app-button label="Add training plan" icon="pi pi-plus" [outlined]="true" color="secondary" (click)="createWorkoutPlan()" />
            </div>
        </div>

        @if (studentData()!.lastWorkouts.length > 0) {
            <div class="flex flex-column gap-4 pb-4">
                <h1 class="text-2xl lg:text-4xl m-0 p-0">Last workouts:</h1>
                <div class="flex gap-4 justify-content-center flex-column lg:flex-row">
                    @for (item of studentData()!.lastWorkouts; track $index) {
                        <div class="flex align-items-center justify-content-center p-4 flex-column workout-tile border-round-lg flex-1 gap-1" (click)="openWorkoutDetails(item.id)">
                            <h1 class="m-0 p-0 text-2xl">{{ item.unitName }}</h1>
                            <h2 class="m-0 p-0 text-xl">{{ item.date | date: 'dd.MM.yyyy HH:mm' }}</h2>
                        </div>
                    }
                </div>

                <div class="flex justify-content-end">
                    <app-button
                        label="View full workout history"
                        icon="pi pi-history"
                        color="secondary"
                        [outlined]="true"
                        (click)="openWorkoutHistory()"
                    />
                </div>
            </div>
        }
    </div>
}