@if (coachData != undefined) {
    <div class="flex p-4 w-full h-full lg:p-6 justify-content-center">
        <div class="flex flex-column w-full lg:w-6 relative">
            <div class="absolute message-button flex p-4 lg:p-3 border-circle lg:border-round-xl z-1">
                <i class="pi pi-envelope text-xl"></i>
                <h4 class="m-0 p-0 text-lg hidden lg:block pl-2">Send message</h4>
            </div>

            <div class="flex align-items-center">
                <p-image [src]="coachData().profileImageUrl!" width="120" imageClass="border-circle" class="mr-4 lg:mr-5" />

                <h1 class="text-4xl m-0 p-0">{{ coachData().name + ' ' + coachData().surname}}</h1>
            </div>

            <p-divider class="m-0 my-4 lg:my-6 w-full"/>

            <div class="flex flex-column mb-4 lg:mb-6">
                <h3 class="text-xl lg:text-3xl m-0 p-0">Email</h3>
                    <h2 class="text-lg lg:text-2xl m-0 p-0 mt-2">{{ coachData().email }}</h2>
            </div>

            <div class="flex flex-column mb-4 lg:mb-6">
                <h3 class="text-xl lg:text-3xl m-0 p-0">Phone number</h3>
                <h2 class="text-lg lg:text-2xl m-0 p-0 mt-2">{{ coachData().phoneNumber == null ? 'Not given' : coachData().phoneNumber }}</h2>
            </div>

            <app-button [outlined]="true" color="secondary" label="Resign from coaching" [size]="responsiveService.lg() ? 'large' : undefined" (click)="resignFromCoaching()" />
        </div>
    </div>
}