<div class="flex flex-column panel p-4 border-round-md">
    <h1 class="m-0 p-0 text-xl mb-2">{{ exercise().exercise }}</h1>

    <h2 class="m-0 p-0 text-lg font-normal">Sets: {{ exercise().sets }}</h2>
    <h2 class="m-0 p-0 text-lg font-normal">Reps: {{ exercise().reps }}</h2>
    <h2 class="m-0 p-0 text-lg font-normal">Intensity: {{ getIntensityType(exercise().intensityType) + ' ' + exercise().intensity }}</h2>
    <h2 class="m-0 p-0 text-lg font-normal">Rest: {{ exercise().rest }}</h2>

    @if (exercise().info) {
        <h2 class="m-0 p-0 text-lg font-normal">Info: {{ exercise().info }}</h2>
    }
</div>
