<div class="flex flex-column panel p-4 border-round-md relative" (click)="panelClicked.emit()">
    @if (exercise().exerciseType == 1) {
        <div class="px-3 py-2 border-round-md ex-tile mb-2 w-auto lg:w-max">
            <h1 class="m-0 p-0 text-xl">{{ exercise().exercise }}</h1>
        </div>
    } @else {
        <div class="px-3 py-2 border-round-md ex-tile mb-2 w-max">
            <h1 class="m-0 p-0 text-lg">Combo</h1>
        </div>

        <table class="text-lg w-max mb-2 flex gap-1 flex-column m-0">
            @for (exercise of exercise().exercise; track $index) {
                <tr class="border-round-md">
                    <td class="px-3 py-2">{{ exercise }}</td>
                </tr>
            }
        </table>
    }
    

    <div class="flex flex gap-4 lg:gap-6">
        <div class="flex flex-column gap-2">
            <div class="flex flex-column">
                <h2 class="m-0 p-0 text-base lg:text-lg font-normal">Sets</h2>
                <h2 class="m-0 p-0 text-xl lg:text-2xl">{{ exercise().sets }}</h2>
            </div>
            <div class="flex flex-column">
                <h2 class="m-0 p-0 text-base lg:text-lg font-normal">Intensity</h2>
                <h2 class="m-0 p-0 text-xl lg:text-2xl">{{ getIntensityType(exercise().intensityType) + ' ' + exercise().intensity }}</h2>
            </div>
        </div>
        <div class="flex flex-column gap-2">
            <div class="flex flex-column">
                <h2 class="m-0 p-0 text-base lg:text-lg font-normal">Reps</h2>
                <h2 class="m-0 p-0 text-xl lg:text-2xl">{{ exercise().reps }}</h2>
            </div>
            <div class="flex flex-column">
                <h2 class="m-0 p-0 text-base lg:text-lg font-normal">Rest</h2>
                <h2 class="m-0 p-0 text-xl lg:text-2xl">{{ exercise().rest }}</h2>
            </div>
        </div>
    </div>

    @if (exercise().info) {
        <div class="flex flex-column mt-2">
            <h2 class="m-0 p-0 text-base lg:text-lg font-normal">Info</h2>
            <h2 class="m-0 p-0 text-xl lg:text-2xl">{{ exercise().info }}</h2>
        </div>
    }

    <div class="absolute trash-icon">
        <i class="pi pi-trash text-xl" (click)="trashIconClickedEvent($event)"></i>
    </div>
</div>
