<p-accordion class="w-full">
    <p-accordion-panel value="0">
        <p-accordion-header>
            <h1 class="m-0 p-0 text-2xl">{{ trainingUnit().name }}</h1>
        </p-accordion-header>
        <p-accordion-content>
            <div class="flex flex-column gap-2">
                @for (section of trainingUnit().trainingSections; track $index) {
                    <div class="p-4 darker-tile flex flex-column gap-2 border-round-lg">
                        <h2 class="m-0 p-0 text-2xl">{{ section.name }}</h2>

                        <table>
                            <tr>
                                <th class="text-left text-xl p-2 top-left">Exercise</th>
                                <th class="text-left text-xl p-2">Sets</th>
                                <th class="text-left text-xl p-2 top-right">Reps</th>
                            </tr>

                            @for (exercise of section.exercises; track $index) {
                                <tr>
                                    <td [class]="'p-2 text-xl ' + ($index + 1 == section.exercises.length ? 'bottom-left' : '')">{{ exercise.exerciseType == 1 ? exercise.name : 'Combo' }}</td>
                                    <td class="p-2 text-xl">{{ exercise.sets }}</td>
                                    <td [class]="'p-2 text-xl ' + ($index + 1 == section.exercises.length ? 'bottom-right' : '')">{{ exercise.reps }}</td>
                                </tr>
                            }
                        </table>
                    </div>
                }
            </div>
        </p-accordion-content>
    </p-accordion-panel>
</p-accordion>