<div class="flex flex-column align-items-center p-4 gap-3">
    <h1 class="font-light m-0 p-0 uppercase">
        Straddle Planche Press
    </h1>

    <div class="flex w-full">
        <div class="flex flex-column flex-1 gap-1">
            <h3 class="m-0 p-0 font-light uppercase text-lg">Sets</h3>
            <h2 class="m-0 p-0 font-light text-3xl">3</h2>
        </div>
        <div class="flex flex-column flex-1 gap-1">
            <h3 class="m-0 p-0 font-light uppercase text-lg">Reps</h3>
            <h2 class="m-0 p-0 font-light text-3xl">8-12</h2>
        </div>
        <div class="flex flex-column flex-1 gap-1">
            <h3 class="m-0 p-0 font-light uppercase text-lg">Rest</h3>
            <h2 class="m-0 p-0 font-light text-3xl">3 min</h2>
        </div>
    </div>

    <p-divider class="m-0 p-0" />

    <div class="flex flex-column tile w-full border-round-lg p-3 gap-2">
        <h3 class="m-0 p-0 uppercase font-light text-xl">Progress</h3>

        <div class="flex flex-column flex-1 gap-1">
            <div class="p-2 border-round-md set-label highlighted">
                <h2 class="m-0 p-0 uppercase font-light text-xl text-center">Set 1</h2>
            </div>

            <div class="p-2 border-round-md set-label">
                <h2 class="m-0 p-0 uppercase font-light text-xl text-center">Set 2</h2>
            </div>
        </div>

        <div class="flex">

        </div>
    </div>
</div>