:host {
    width: auto;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    position: relative;

    h1 {
        color: var(--p-primary-color);
    }

    h2 {
        color: var(--p-surface-300);
    }

    i, h3 {
        color: var(--p-surface-0);
    }

    .tile {
        transition: .2s background-color;

        &:hover {
            background: var(--p-surface-800);
        }
    }

    .invite-button {
        bottom: 1.5rem;
        right: 1.5rem;

        transition: .2s background-color;
        background: var(--p-primary-800);

        &:hover {
            background: var(--p-primary-500);
            cursor: pointer;
        }
    }
}